.quote {
    opacity: 0.9;
    font-style: italic;
    color: rgba(0, 66, 117, 0.97);
    margin: 10px 40px;
}
.small-separate {
    margin-top: 20px
}

.image-desc {
    font-size: 0.9em;
    color: grey;
    margin-top: 5px;
}
.wat-solutions li {
    margin-bottom: 25px;
}
.solution-item {
    list-style-image: url("../images/marker-small.png")
}

.dao-logo-wrap {
    margin-top: 20px;
}

.dao-logo-wrap .img-responsive {
    margin: 0 auto;
}