.filter-items ul {
    list-style: none;
    margin: 0;
    border-radius: 5px;
}
.filter-items li {
    display: inline-block;
}

.filter-items li input {
    visibility:hidden;
}

.filter-items label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 200;
    padding: 0px 80px 10px 80px;
    font-size: 1.8em;

}
.filter-items li input:checked + label {
    border-bottom: solid 4px #ff5d5b;
}

.google-map {
    flex-grow: 1;
    overflow: hidden;
}
.map-wrapper {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    font-size: 18px;
}

.search-box-row {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}

@media all and (max-width: 5000px) {
    .search-box-dynamic {
        width: 40%;
        top: 25px;
    }
}
@media all and (max-width: 1200px) {
    .search-box-row {
        width: 50%;
        top: 15px;
    }
}
@media all and (max-width: 992px) {
    .search-box-row {
        width: 100%;
        top: 0;
    }
}
@media all and (max-width: 768px) {
    .search-box-row {
        width: 100%;
        top: 0;
    }
}

.appender-row {
    margin: 10px 0;
    height: 50px;
    padding-bottom: 10px;
}

.filter-row {
    margin-top: 25px;
}

#appender {
    font-size: 2em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}

#find-search-box {
    border: 2px solid #717171;
}