.descHeading {
    margin: 30px 0 30px 0;
}

.first-h {
}

.international-h {
}

.online-h {

}

.words {
    /*text-decoration: underline;*/
    /*font-style: italic;*/
}


#headingWindow {

}

#news {
    font-size: 120%;
    text-decoration: none;
}

#skylineWindow {
    background: url("../images/skyline.jpg") bottom no-repeat;
    background-size:100% auto;
    /*width: 100%;*/
    /*background-size: cover;*/
}

#aboutWindow {
}

#aboutWindow p {
    font-size: 1.2em;
}

#missionWindow {
    font-size: 1.2em;
}

.horizontalLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
}

.horizontalLine span {
    background:#fff;
    padding:0 15px;
}

