#mynavbar {
    margin-bottom: 0;
    /*padding: 0 50px 0px 50px;*/
}

.main-container {
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    min-height: 100vh;
    padding: 0 0 50px;
    position: relative;
}
.footer-container {
    color: #9d9d9d;
    background-color: rgba(0, 0, 0, 0.76);
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}

.footer-wrapper {
    padding: 1em 2em;
}


body {
    background: #edf0f2;
}

.separate {
    margin-top: 40px;
}

.window {
    padding: 2em;
}

.container-fluid {
    padding: 0;
}

.profile-image {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    position: relative;
    margin-right: 3px;
    top: -5px;
    float: left;
    left: -5px;
}

.profile-image-big {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 0.1em;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 1em;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

/*this is used for responsive text
important: classes used here should not have font-size defined cause it will
be overwritten */
@media all and (max-width: 1200px) {
    /* screen size until 1200px */
    .descHeading {
        font-size: 2.5em ;
        /* 1.5x default size */
    }
}
@media all and (max-width: 992px) {
    /* screen size until 1000px */
    .descHeading {
        font-size: 2.1em ;
        /* 1.2x default size */
    }
}
@media all and (max-width: 768px) {
    /* screen size until 500px */
    .descHeading {
        font-size: 1.7em;
        /* 0.8x default size */
    }
}

/*
 This is for navbar to be responsive the way we want :)
 */
@media(max-width:767px) {
    .navbar .navbar-form {
        width: 300px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}