#mynavbar {
    margin-bottom: 0;
    /*padding: 0 50px 0px 50px;*/
}

.title {
    text-align: center;
    font-size: 400%;
}

.separate {
    margin-top: 50px;
}

.window {
    padding: 2em;
}

.container-fluid {
    padding: 0;
}