.marginOnRight  {
    margin-right: 10px;
}
#addAgency {
    width: 300px;
}
.currentParticipantInfo {
    padding: 15px;
    border-radius: 5px;
}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 0.8em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }