
.ratingComment {
    margin: 5px 5px 15px 5px;
}
.cardInfoItem {
    padding: 15px;
}
.cardInfoHeader {
    padding: 5px 10px;
}
.cardAdditionalInfo {
    margin: 3px;
    font-size: 0.9em;
}
.cardAdditionalInfo:hover {
    color: inherit;
    text-decoration: none;
}
.leftMargin {
    margin-left: 5px;
}
.ratingAction {
    color: #777777;
    text-decoration: none;
}
.ratingAction:hover {
    color: inherit;
    text-decoration: none;

}