.avatarImg {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
#changeAvatarButton {
    margin-left: 15px;
}
.agree_text {
    font-size: 0.9em;
}
.profile-pic-label {
    display: block;
}
.validetta-inlineaa {
    display: block;
    color: red;
    font: 12px/14px Arial, Helvetica, sans-serif
}

.validetta-inline--rightaa:before {
    top: 7px;
    left: -10px;
    border-color: transparent #cd2e26 transparent transparent
}
