.avatarImg {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
#changeAvatarButton {
    margin-left: 15px;
}
.agree_text {
    font-size: 0.9em;
}
.profile-pic-label {
    display: block;
}