#rating  {
    text-align: center;
    perspective: 250px;
    position: absolute;
}

#rating span {
    cursor: pointer;
    font-size: 25px;
    padding: 0 0px;
    color: #000;
    opacity: .5;
    transition: all 150ms;
    display: inline-block;
    /*transform: rotateX(35deg);*/
    transform-origin: center bottom;
}

#rating span.hover {
    color: #ff813a;
    opacity: 1;
    transform: rotateX(0deg);
    text-shadow: 0 0 30px #ffc;
}

#ratingAvg  {
    text-align: center;
    perspective: 250px;
    position: absolute;
}

#ratingAvg span {
    cursor: pointer;
    font-size: 25px;
    padding: 0 0px;
    color: #000;
    opacity: .5;
    transition: all 150ms;
    display: inline-block;
    /*transform: rotateX(35deg);*/
    transform-origin: center bottom;
}