$color-text-muted: #9d9d9d; // muted text
$color-main: #ffffff; // most visible color (background etc..)
$color-main-reverse: #232322; // opposite of main
$color-info: #337ab7; // informative color

$color-danger: #ff776d; // danger (deleting or error)
$color-cta: #d40b11; // call to action color

$color-line: #ddd; // horizontal line under page titles
$color-rating: orange; // color for rating starts etc..