@import "colors";

.quote {
    opacity: 0.9;
    font-style: italic;
    color: $color-info;
    margin: 10px 40px;
}
.small-separate {
    margin-top: 20px
}
.wat-solutions li {
    margin-bottom: 25px;
}
.solution-item {
    list-style-image: url("../images/marker-small.png")
}

.dao-logo-wrap {
    margin-top: 20px;
}

.dao-logo-wrap .img-responsive {
    margin: 0 auto;
}