@import "colors";

.descHeading {
    margin: 30px 0;
}

.landing-text-row {
    margin-top: 2em;
}

#news {
    font-size: 120%;
    text-decoration: none;
}

#skylineWindow {
    background: url("../images/skyline.jpg") bottom no-repeat;
    background-size:100% auto;
    /*width: 100%;*/
    /*background-size: cover;*/
}

#aboutWindow {
    margin-bottom: 4em;
}

#savingJ1Window {
    margin-bottom: 20px;
}

.savej1hashtag {
    font-size: 3.5em;
    margin-left: auto;
    margin-right: auto;
}

.savej1icon{
    font-size: 6em;
}

.savej1text {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.savej1link a{
    color: inherit;
    text-decoration: underline;
}

.savej1link a:hover{
    text-decoration: underline;
    color: $color-text-muted;
}

.horizontalLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-main-reverse;
    line-height: 0.1em;
}

.horizontalLine span {
    background: $color-main;
    padding:0 15px;
}

.speech-bubble {
    color: $color-main;
    position: relative;
    background: $color-info;
    border-radius: .4em;
    padding: 5px 0;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: $color-info;
    border-left: 0;
    border-top: 0;
    margin-top: -8px;
    margin-left: -16px;
}

.info-color {
    color: $color-info
}

.rating-color {
    color: $color-rating
}

