@import "colors";

.login-frame {
    border: solid $color-main-reverse 1px;
    padding: 20px;

}
.oauth-form {
    margin-top: 15px;
    border-top: solid $color-main-reverse 1px;
}
.desc-label {
    margin: 10px 0;
}
.oauth-options {
    padding: 0px 30px;
}
.top-label {
    margin-bottom: 10px;
}
.recommended-text {
    font-style: italic;
    color: $color-danger;
}