@import "colors";

.marginOnRight  {
    margin-right: 10px;
}
#addSponsor {
    width: 300px;
}
.currentParticipantInfo {
    padding: 15px;
    border-radius: 5px;
}
.autocomplete-suggestions {
    border: 1px solid $color-text-muted;
    background: $color-main;
    cursor: default;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 5px 5px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: $color-line;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: $color-info;
}