@import "colors";

#googleMap {
    height: 300px;
}
.dl-custom {
    font-size: 1.1em !important;
}
.avg-rating-star {
    display: block;
    color: $color-rating;
    display: inline;
    font-size: 1.8em;
}
.avg-rating-value {
    font-size: 2em;
    display: inline;
    padding-bottom: 2px;
}
.avg-rating-total {
    display: inline;
    color: darkgrey;
}