@import "colors";

.empty_year {
    color: $color-cta;
}

dl {
    width: 100%;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 40%;
    /* adjust the width; make sure the total of both is 100% */
    padding-bottom: 15px;
    margin: 0
}
dd {
    float: left;
    width: 60%;
    /* adjust the width; make sure the total of both is 100% */
    padding-bottom: 15px;
    margin: 0
}

.dl-row {
    margin-left: 20px;
}

.details-link {
    color: $color-info;
}