@main("Motivation") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/about.css")">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="wat-title">Why WATpointer?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 reading-text">

      <h3 class="separate">Main motivation for building this platform?</h3>

      <p class="separate">
        Different people, different stories, different agencies, different places, different rules, scattered information. All those years without a single unique platform
        which can be one stop shop for most of the information about the program.
      </p>

      <h3 class="separate">Did you know that this program is under a serious treat?</h3>
      <h4 class="separate"><i class="fa fa-arrow-right"></i> Trump Administration</h4>
      <div class="row small-separate">
        <div class="col-md-12">
          <p class="small-separate">The Trump administration is considering cuts to J1 program
            followed by moto "Buy American and Hire American" (full article <a href="https://www.wsj.com/articles/trump-administration-considering-cuts-to-summer-work-visas-1503857856">here</a>). Help by supporting projects such as this one, signing <a href="https://www.change.org/p/donald-trump-save-the-j1-visa-cultural-exchange-program">petition</a>, and spreading the word.</p>
        </div>
      </div>


      <h4 class="small-separate"><i class="fa fa-arrow-right"></i> The Cap</h4>
      <p class="small-separate">
         Have you ever wondered why is SWT (Summer work travel) Visa request denied for a lot of people?
      </p>

      <p>
        There is cap set from the United States government (details <a href="https://www.gpo.gov/fdsys/pkg/FR-2011-11-07/pdf/2011-28810.pdf">here</a>).
          The reason for this action is explained in U.S. GAO <a href="http://www.gao.gov/assets/670/668453.pdf">paper</a>:
      </p>

      <div class="row">
        <div class="col-md-9">
          <p class="quote">
            "State acknowledged an increase in SWT-related
            complaints regarding, for example, improper or unsafe job placements,
            fraudulent job offers, post-arrival job cancellations, inappropriate work
            hours, and problems regarding housing and transportation.
            State capped at 2011 levels the participants allotted to each sponsor, effectively
            <b>restricting the total number of participants to 109,000.</b>"
          </p>
        </div>
        <div class="col-md-3 dao-logo-wrap">
          <img class="img-responsive dao-logo text-center"
          src="@routes.Assets.versioned("images/gao-logo.png")">
        </div>
      </div>

      <p class="small-separate">
        According to the IFR, the restriction on
        program size would remain until State was confident that the program
        regulations were sufficient to remedy identified concerns. As years passed by, State has no current plans for lifting the
        program cap.
      </p>

      <h3 class="separate">How are we trying to solve those problems?</h3>

      <ul class="separate wat-solutions">
        <li class="solution-item">Creating big community which can make a difference</li>
        <li class="solution-item">Database of verified places for work and housing available to everyone</li>
        <li class="solution-item">Oversight which could further protect the health, safety and welfare of exchange visitors</li>
        <li class="solution-item">Establishing platform for connecting employers and employees</li>
        <li class="solution-item">Forum with subcategories for each country</li>
        <li class="solution-item">Connecting participants while on program</li>
      </ul>

      <p>
        This program is endangered and needs it community more then ever! If you participated in the program please rate your previous employers
        <a href="@routes.SWTPlaceController.findSearch()">here</a> to help this community grow!
      </p>

    </div>
  </div>

  <div class="separate"></div>

}