@main("About") {
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="wat-title">About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p></p>
      Welcome to Pointer, Work and Travel international community platform created for people to share their experience using a simple and unique rating system.
      Vision
      Project is inspired by our own experience with Work and Travel program, as we believe greater collaboration will ensure that everyone has access to opportunities and experiences that inform their perspectives and expand their horizons. <br>
      Mission
      The mission of Pointer is simple: connect all participants of Work and Travel program into an online community to enhance quality of the program.
      Do you want to be a part of the community and “point” new travelers in the right direction?
      Submit your experience – it only takes one minute!
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center separate">
      contact: teotoplak95@@gmail.com
    </div>
  </div>

}