@(
        numOfUsers: Integer,
        participantsNum: Integer,
        oldParticipantsNum: Integer,
        todayRegistered: Integer,
        pastYearsNum: Integer,
        pastYearsRatedNum: Integer
)
@main("admin console") {
    <h2>Admin dashboard</h2>
    <h3>Users</h3>
    <div class="row">
        <div class="col-md-3">
            users: @numOfUsers
        </div>
        <div class="col-md-3">
            participants: @participantsNum
        </div>
        <div class="col-md-3">
            alumni: @oldParticipantsNum
        </div>
        <div class="col-md-3">
            today registered: @todayRegistered
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Past years number: @pastYearsNum
        </div>
        <div class="col-md-3">
            Past years rated: @pastYearsRatedNum
        </div>
    </div>
}