@main("Contact") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/contact.css")">

  @*validetta*@
  <script src="@routes.Assets.versioned("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("validetta/validetta.min.css")">

  <div class="row">
    <div class="col-md-8 col-md-offset-2 reading-text">
      <h2 class="wat-title">Contact us</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4">
      <div class="col-md-4 separate"><div class="fa fa-bug fa-2x"></div><div>Bugs</div></div>
      <div class="col-md-4 separate"><div class="fa fa-question fa-2x"></div><div>Questions</div></div>
      <div class="col-md-4 separate"><div class="fa fa-lightbulb-o fa-2x"></div><div>Proposals</div></div>
    </div>
  </div>
  <div class="row separate">
    <div class="col-md-offset-4 col-md-4">
      <form action="@routes.Public.sendEmail()" method="post" id="contact-form">
        <div class="from-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name"
            data-validetta="required">
        </div>
        <div class="from-group">
          <label for="email">Your email</label>
          <input type="text" class="form-control" name="email" id="email"
            data-validetta="required,email">
        </div>
        <div class="from-group">
          <label for="message">Message</label>
          <textarea type="text" class="form-control" name="message" rows="4"
          id="message" data-validetta="required"></textarea>
        </div>
        <div class="form-group recaptcha">
          <div class="g-recaptcha" data-sitekey="6Lc0Fy4UAAAAAGxZrj1Dp59j_eYH2FujzExWVTU-"></div>
        </div>
        <button type="submit" class="btn btn-primary" id="send-button">Send</button>
      </form>
    </div>
  </div>

  <div class="separate"></div>

  <script>
          $("#contact-form").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline'
          });

          // loading status
          let button = document.getElementById("send-button");
          button.onclick = function () {
              button.innerHTML = "<i class='fa fa-spinner fa-spin'></i> Send";
          }

  </script>

}