@main("Contact") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/contact.css")">

  <div class="row">
    <div class="col-md-8 col-md-offset-2 reading-text">
      <h2 class="wat-title">Contact</h2>
      <div class="row separate text-center">
        <div class="col-md-4"><div class="fa fa-bug fa-2x"></div><div>Bugs</div></div>
        <div class="col-md-4"><div class="fa fa-question fa-2x"></div><div>Question</div></div>
        <div class="col-md-4"><div class="fa fa-lightbulb-o fa-2x"></div><div>Proposals</div></div>
        <div class="contact-info">For all above please write mail to: <span class="email-info">teotoplak95@@gmail.com</span></div>
      </div>
    </div>
  </div>

  <div class="separate"></div>

}