@main("Contact") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/contact.css")">

  <div class="row">
    <div class="col-md-8 col-md-offset-2 reading-text">
      <h2 class="wat-title">Contact</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-3 col-md-5">
      <div class="col-md-4 separate"><div class="fa fa-bug fa-2x"></div><div>Bugs</div></div>
      <div class="col-md-4 separate"><div class="fa fa-question fa-2x"></div><div>Questions</div></div>
      <div class="col-md-4 separate"><div class="fa fa-lightbulb-o fa-2x"></div><div>Proposals</div></div>
    </div>
  </div>
  <div class="row separate">
    <div class="col-md-offset-3 col-md-5">
      <form action="@routes.Public.sendEmail()" method="post">
        <div class="from-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="from-group">
          <label for="email">Your email</label>
          <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="from-group">
          <label for="message">Message</label>
          <textarea type="text" class="form-control" name="message" rows="4"
          id="message"></textarea>
        </div>
        <div class="form-group recaptcha">
          <div class="g-recaptcha" data-sitekey="6Lc0Fy4UAAAAAGxZrj1Dp59j_eYH2FujzExWVTU-"></div>
        </div>
        <button type="submit" class="btn btn-info">Send</button>
      </form>
    </div>
  </div>

  <div class="separate"></div>

}