@(currentPage: com.avaje.ebean.PagedList[Course])
@main("Courses list") {

<h2>All courses</h2>

<table class="table table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
    @for(course <- currentPage.getList()) {
        <tr><td>@course.name</td></tr>
    }
</table>

<div id="pagination" class="pagination">
    <ul class="pager">
    @if(currentPage.hasPrev) {
        <li class="previous"><a href="@routes.Courses.pagedList(currentPage.getPageIndex-1)">&larr;</a></li>
    } else {
        <li class="previous disabled"><a>&larr;</a></li>
    } 
    <li class="current">
        <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
    </li>
    @if(currentPage.hasNext) {
        <li class="next"><a href="@routes.Courses.pagedList(currentPage.getPageIndex+1)">&rarr;</a></li>
    } else {
        <li class="next disabled"><a>&rarr;</a></li>
    } 
    </ul>
</div>
}