@()
@content = {
    @* empty *@
}
@otherContent = {

    <link href="@routes.Assets.versioned("stylesheets/findSearch.css")" rel="stylesheet" media="screen">

    @*<div class="google-map" id="googleMap"></div>*@
    <div class="map-wrapper">
        <div id="googleMap" class="google-map" style="visibility: visible"></div>
        <div class="search-box-row search-box-dynamic">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="find-search-box" class="form-control input-lg"
                    placeholder="Try &quot;Massachusetts&quot;">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" id="find-search-btn-box" type="button">
                            <i id="status-icon" class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
            /* google maps */
            var map;
            var bounds;
            var markers = [];
            var openedInfoWindow;
            var currentSearchViewport;


            function initMap() {
                bounds = new google.maps.LatLngBounds();
                map = new google.maps.Map(document.getElementById('googleMap'), {
                    center: {lat: 40, lng: -100},
                    zoom: 4,
                    clickableIcons: false,
                    mapTypeControl: false,
                    zoomControl: false,
                    fullscreenControl: false,
                    streetViewControl: false
                });

                var autocompleteOptions = {
                    types: ['(regions)'],
                    componentRestrictions: {country: "us"}
                };

                let autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('find-search-box'),autocompleteOptions);
                autocomplete.addListener('place_changed', () => {
                    let place = autocomplete.getPlace();
                    findSearchAction(place.geometry.viewport)
                });

            }

            function changeStatusIcon(classString){
                document.getElementById("status-icon").className = classString;
            }

            @* filter search *@
            let searchBoxId = '#find-search-box';
            let notSearchedYet = true;

            let findSearchAction = (viewport) => {
                changeStatusIcon("fa fa-circle-o-notch fa-spin fa-fw");
                $.ajax({
                    url: "/getBaseUrl",
                    success: function (baseUrl) {
                        $.ajax({
                            type: "GET",
                            url: baseUrl + "/get-places",
                            data: {
                                    latTo: viewport.f.f,
                                    // smaller value
                                    latFrom: viewport.f.b,
                                    lngTo: viewport.b.b,
                                    lngFrom: viewport.b.f
                            },
                            success: (places) => {
                                changeStatusIcon("fa fa-search");
                                clearMarkers();
                                if(places.length == 0) {
                                   /* TODO no places found*/
                                } else {
                                    /* TODO how many places found */
                                    places.forEach((place) => {
                                        var marker = new google.maps.Marker({
                                            position: {lat:place.lat,lng:place.lng},
                                            map: map,
                                            icon: baseUrl + "@routes.Assets.versioned("images/marker.png")",
                                            title: place.name
                                        });
                                        markers.push(marker);
                                        bounds.extend(marker.getPosition());
                                        map.fitBounds(bounds);
                                        let infowindow = new google.maps.InfoWindow({
                                            content: `<a target="_blank" href="${baseUrl}/place?id=${place.googleId}">
                                <div>${place.name}</div>
                                <span class='glyphicon glyphicon-star' style='color: orange'></span>
                                ${place.avgRating}
                                <div>(${place.numRatings} ratings)</div>
                                </a>`
                                        });
                                        marker.addListener('click', function() {
                                            if(openedInfoWindow) {
                                                openedInfoWindow.close();
                                            }
                                            openedInfoWindow = infowindow;
                                            infowindow.open(map, marker);
                                        });
                                        if(place === places[0]) {
                                            infowindow.open(map, marker)
                                        }
                                    })
                                }
                                if(notSearchedYet) {
                                    document.getElementById("googleMap").style.visibility = "visible";
                                    notSearchedYet = false;
                                }
                            },
                            error: (error) => {
                                changeStatusIcon("fa fa-exclamation-triangle")
                            }
                        });
                    }
                });
            };
            function clearMarkers() {
                bounds = new google.maps.LatLngBounds();
                for(let i=0; i<markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];
            }

            // automatic ajax if value set
            if($(`${searchBoxId}`).val()) {
                findSearchAction();
            }
            $(searchBoxId).keypress((e) => {
                if (e.which == 13) {
                    findSearchAction();
                }
            });
            $('#find-search-btn-box').click(() => findSearchAction());

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=places&callback=initMap">
    </script>

}
@main("Search")(content,otherContent)