@()
@content = {
    @* empty *@
}
@otherContent = {

    <link href="@routes.Assets.versioned("stylesheets/findSearch.css")" rel="stylesheet" media="screen">

    @*<div class="google-map" id="googleMap"></div>*@
    <div class="map-wrapper">
        <div id="googleMap" class="google-map" style="visibility: visible"></div>
        <div class="search-box-row search-box-dynamic">
            <div class="inner-addon left-addon">
                <i class="fa fa-search fa-2x"></i>
                    <input type="text" id="find-search-box" class="form-control input-lg text-center"
                    placeholder="Try &quot;Massachusetts&quot;">
            </div>
        </div>
    </div>

    <script>
            /* google maps */
            var map;
            var bounds;
            var markers = [];
            var openedInfoWindow;
            var currentSearchViewport;
            var baseUrl;

            // find base url
            $.ajax({
                url: "/getBaseUrl",
                success: function (url) {
                   baseUrl = url;
                }
            });

            // select all text on click
            $("input[type='text']").on("click", function () {
                $(this).select();
            });

            function initMap() {
                bounds = new google.maps.LatLngBounds();
                map = new google.maps.Map(document.getElementById('googleMap'), {
                    center: {lat: 40, lng: -100},
                    zoom: 4,
                    clickableIcons: false,
                    mapTypeControl: false,
                    zoomControl: false,
                    fullscreenControl: false,
                    streetViewControl: false
                });
            }

            @* filter search *@
            let searchBoxId = '#find-search-box';


            $(searchBoxId).keypress((e) => {
                if (e.which == 13) {
                    findSearchAction($(`${searchBoxId}`).val())
                }
            });
            $('#search-btn-box').click(()=>findSearchAction($(`${searchBoxId}`).val()));


            let findSearchAction = (text) => {

                $.ajax({
                    type: "GET",
                    url: baseUrl + "/search-for?text=" + text,
                    success: (result) => {
                        // if result is region
                        if(result[0].type === "region") {
                            // TODO position map
                            let regionPlace = result[0];
                            $.ajax({
                                type: "GET",
                                url: baseUrl + "/get-places",
                                data: {
                                    latTo: regionPlace.NElat,
                                    latFrom: regionPlace.SWlat,
                                    lngTo: regionPlace.NElng,
                                    lngFrom: regionPlace.SWlng
                                },
                                success: (places) => {
                                    clearMarkers();
                                    if(places.length == 0) {

                                    } else {
                                        /* TODO how many places found */
                                        showMarkers(places)
                                    }
                                }
                            })
                        } else {
                            clearMarkers();
                            showMarkers(result)
                        }
                    },
                    error: (error) => {
                        /* todo error*/
                        console.error("internal error happened while searching")
                    }
                });

            };

            function showMarkers(places) {
                places.forEach((place) => {
                    let marker;
                    let infowindow;
                    if (place.type === "rated") {
                        marker = getRatedMarker(place);
                        infowindow = getRatedInfoWindow(place);
                    } else {
                        marker = getNotRatedMarker(place);
                        infowindow = getNotRatedInfoWindow(place)
                    }
                    markers.push(marker);
                    bounds.extend(marker.getPosition());
                    map.fitBounds(bounds);

                    marker.addListener('click', function () {
                        if (openedInfoWindow) {
                            openedInfoWindow.close();
                        }
                        openedInfoWindow = infowindow;
                        infowindow.open(map, marker);
                    });
                    if (place === places[0]) {
                        // open one marker
                        openedInfoWindow = infowindow;
                        infowindow.open(map, marker)
                    }
                });
            }

            function getRatedMarker(place) {
                return new google.maps.Marker({
                    position: {lat:place.lat,lng:place.lng},
                    map: map,
                    icon: baseUrl + "@routes.Assets.versioned("images/marker.png")",
                    title: place.name
                });
            }

            function getNotRatedMarker(place) {
                return new google.maps.Marker({
                    position: {lat:place.lat,lng:place.lng},
                    map: map,
                    icon: baseUrl + "@routes.Assets.versioned("images/marker-black.png")",
                    title: place.name
                });
            }

            function getRatedInfoWindow(place) {
                return new google.maps.InfoWindow({
                    content: `<a target="_blank" href="${baseUrl}/place?id=${place.googleId}">
                                <div>${place.name}</div>
                                <span class='glyphicon glyphicon-star' style='color: orange'></span>
                                ${place.avgRating}
                                <div>(${place.numRatings} ratings)</div>
                                </a>`
                })
            }

            function getNotRatedInfoWindow(place) {
                return new google.maps.InfoWindow({
                    content: `<a target="_blank" href="${baseUrl}/place?id=${place.googleId}">
                                <div>${place.name}</div>
                                Not rated yet
                                </a>`
                })
            }


            function clearMarkers() {
                bounds = new google.maps.LatLngBounds();
                for(let i=0; i<markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];
            }



    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=places&callback=initMap">
    </script>

}
@main("Search")(content,otherContent)