@()
@main("Search") {

  <link href="@routes.Assets.at("stylesheets/findSearch.css")" rel="stylesheet" media="screen">

  <div class="window">
    <div class="row">
      <div class="input-group col-md-6 col-md-offset-3 filter-items">
        <ul>
          <li>
            <input class="filter-item" type='radio' value='state' name='filter_radio' id='radio1' checked/>
            <label for='radio1'>State</label>
          </li>
          <li>
            <input class="filter-item" type='radio' value='county' name='filter_radio'  id='radio2'/>
            <label for='radio2'>County</label>
          </li>
          <li>
            <input class="filter-item" type='radio' value='city' name='filter_radio'  id='radio3'/>
            <label for='radio3'>City</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="input-group col-md-6 col-md-offset-3">
        <input type="text" id="find-search-box" class="form-control input-lg"
        placeholder="" />
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" id="find-search-btn-box" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 separate">
        <div id="appender" class="list-group">

        </div>
      </div>
      <div class="col-md-offset-2 col-md-6">
        <div class="google-map" id="googleMap"></div>
      </div>
    </div>
  </div>

  <script>
          /* google maps */
          var map;
          var bounds;
          function initMap() {
            bounds = new google.maps.LatLngBounds();
            map = new google.maps.Map(document.getElementById('googleMap'), {
              center: {lat: 40, lng: -100},
              zoom: 3
            });

          }


          @* filter search *@
          let searchBoxId = '#find-search-box';
          let appender = document.getElementById("appender");
          let findSearchAction = () => {
            let text = $(`${searchBoxId}`).val();
            let filter = $('input[name=filter_radio]:checked').val();
            appender.innerHTML = "<span class='text-muted'></span> Loading...";
            $.ajax({
              url: "/getBaseUrl",
              success: function (baseUrl) {
                $.ajax({
                  type: "GET",
                  url: baseUrl + "/get-places",
                  data: {text:text,filter:filter},
                  success: (places) => {
                    let appender = document.getElementById("appender");
                    if(places.length == 0) {
                      appender.innerHTML = "No results.";
                    } else {
                      appender.innerHTML = ""
                      places.forEach((place) => {
                        var marker = new google.maps.Marker({
                          position: {lat:place.lat,lng:place.lng},
                          map: map,
                          title: place.name
                        });
                        bounds.extend(marker.getPosition());
                        map.fitBounds(bounds);
                        let starsHtml = "";
                        for(let i=0;i<place.avgRating;i++) {
                          starsHtml += "<span class='glyphicon glyphicon-star' style='color: orange'></span>"
                        }
                        appender.innerHTML +=
                                `<a href="${baseUrl}/place?id=${place.googleId}" class="list-group-item">
                                <div>${place.name}</div>
                                <div class='text-muted'>${place.state}, ${place.city}</div>
                                <div>${starsHtml} (${place.numRatings})</div>
                                </a>`;
                      })
                    }
                  },
                  error: (error) => {
                    appender.innerHTML = "";
                  }
                });
              }
            });
          };
          if($(`${searchBoxId}`).val()) {
            findSearchAction();
          }
          $("input[name=filter_radio]:radio").change(function () {
            if($(`${searchBoxId}`).val()) {
              findSearchAction();
            }
          });
          $(searchBoxId).keypress((e) => {
            if (e.which == 13) {
              findSearchAction();
            }
          });
          $('#find-search-btn-box').click(() => findSearchAction());

  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&callback=initMap">
  </script>
}
