@()
<div class="footer-wrapper">
    <div class="row">
        <div class="">
            <span class="footer-text pull-left">© 2018, WATpointer
                <span class="hidden-xs">, All rights reserved</span>
            </span>
        </div>
        <div class="pull-right hidden-xs">
            <a class="footer-text footer-link" href="@routes.Public.privacyPolicy()">Privacy policy</a> |
            <a class="footer-text footer-link" href="@routes.Public.termsAndConditions()">Terms and conditions</a>
        </div>
    </div>
</div>