@main("WATpointer") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/landing.css")">


  <div id="headingWindow">
      <div class="row">
        <div class="col-md-7">
          <h1 class="descHeading">
            <span class="first-h words">First</span>,
            <span class="international-h words">international</span>,
            <span class="online-h words">online</span>, <br>
            <div id="abbrvText" class="foldText">
            W<span id="ummer">ork&nbsp;</span>A<span id="ork">nd&nbsp;</span>T<span id="ravel">ravel&nbsp;</span> USA
            </div><br>
            portal </h1>
        </div>
      </div>

      <div class="row" id="news">
        <div class="col-md-6">
          <p><strong> Currently launching! </strong><br>
            We are in phase of gathering the data. If you participated in wat program you can rate your
            employers, housings and agencies. We ensured that it only takes few minutes.</p>
          <a class="button btn btn-primary" href="@routes.SWTPlaceController.searchBox()">
            Let's do it <span class="fa fa-arrow-right"></span>
          </a>

        </div>
      </div>

  </div>

  <img src="@routes.Assets.versioned("images/skyline.jpg")" class="img-responsive" alt="skyline">


  <div class="landing-text-row" id="missionWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>Our mission</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="fa fa-star text-success"></span> Rating system</h3>
        <p class="reading-text">Rate or search for a WAT employer</p>
        <a href="@routes.SWTPlaceController.searchBox()" class="btn btn-default" role="button">
          <i class="fa fa-check"></i> Rate
        </a>
        <a href="@routes.SWTPlaceController.findSearch()" class="btn btn-default" role="button">
          <i class="fa fa-search"></i> Search
        </a>
      </div>
      <div class="col-md-4 separate text-muted">
        <h3><span class="fa fa-connectdevelop text-default"></span> Connecting you</h3>
        <p class="reading-text">Easily connect to people participating in a program, or any other registered user</p>
        <p><i>coming soon ...</i></p>
      </div>
      <div class="col-md-4 separate text-muted">
        <h3><span class="fa fa-comments text-default"></span> Forum</h3>
        <p class="reading-text">Write about your past experience, post questions and answers, FAQ, easily find
        answer to your problem</p>
        <p><i>coming soon ...</i></p>
      </div>

    </div>
  </div>

  <div class="landing-text-row" id="aboutWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>Who we are</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="fa fa-users text-info"></span> SWT online community</h3>
        <p class="reading-text">
          Our goal is connecting past or present participants and exchange of their experiences
          to enhance quality of the program</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="fa fa-graduation-cap text-info"></span> By students for students</h3>
        <p class="reading-text">
          This platform is made by students for students.
          Site is inspired by our own experience with SWT program</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="fa fa-heart text-info"></span> Non-profit </h3>
        <p class="reading-text">We are non-profit organization
          which means that we use profit for achieving our purpose
          and mission</p>
      </div>
    </div>
  </div>

    <hgroup class="speech-bubble">
        <div class="landing-text-row separate" id="savingJ1Window">
          <div class="row">
            <div class="col-md-4">
              <div class="savej1hashtag text-center savej1link">
                <a href="https://www.facebook.com/hashtag/savej1">
                  #SAVEJ1
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <p class="savej1text savej1link reading-text">
                Trump administration is considering cuts to J1 program (full article <a href="https://www.wsj.com/articles/trump-administration-considering-cuts-to-summer-work-visas-1503857856">here</a>). Help by supporting projects such as this one, signing <a href="https://www.change.org/p/donald-trump-save-the-j1-visa-cultural-exchange-program">petition</a>, and spreading the word.
              </p>
            </div>
            <div class="col-md-2 text-center">
              <i class="fa fa-exclamation-circle savej1icon"></i>
            </div>
          </div>
      </div>
    </hgroup>

  <script src="@routes.Assets.versioned("javascripts/abbreviText.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/abbreviText.css")"/>
  <script>
          abbreviText("abbrvText", ["ummer", "ork", "ravel"]);
  </script>


}
