@main("Watplaces") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/landing.css")">


  <div class="window" id="headingWindow">
      <div class="row">
        <div class="col-md-7">
          <h1 class="descHeading">
            <span class="first-h words">First</span>,
            <span class="international-h words">international</span>,
            <span class="online-h words">online</span>,
            USA s<span id="josko" style="display: inline-block;overflow-x: hidden;overflow-y: hidden;vertical-align: bottom">ummer</span> work travel community </h1>
        </div>
      </div>

      <div class="row" id="news">
        <div class="col-md-6">
          <p><strong> Currently launching! </strong><br>
            We are in phase of gathering the data. If you participated in swt program you can rate your
            employers, housings and agencies. We ensured that it only takes few minutes.</p>
          <a class="button btn btn-primary" href="@routes.SWTPlaceController.searchBox()">
            Let's do it <span class="glyphicon glyphicon-arrow-right"></span>
          </a>

        </div>
      </div>

  </div>

  <img src="@routes.Assets.at("images/skyline.jpg")" class="img-responsive" alt="skyline">


  <div class="window" id="missionWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>Our mission</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-star text-success"></span> Rating system</h3>
        <p>Search for a job or a housing in thousands of rated places by past J1 participants</p>
        <a href="@routes.SWTPlaceController.searchBox()" class="btn btn-default" role="button">Check it out</a>
      </div>
      <div class="col-md-4 separate text-muted">
        <h3><span class="glyphicon glyphicon-globe text-default"></span> Connecting you</h3>
        <p>Easily connect to people going to same city, working for a same employer,
          having same agency as you or any other registered user</p>
        <p><i>coming soon ...</i></p>
      </div>
      <div class="col-md-4 separate text-muted">
        <h3><span class="glyphicon glyphicon-comment text-default"></span> Forum</h3>
        <p>Write about your past experience, post questions and answers, FAQ, easily find
        answer to your problem</p>
        <p><i>coming soon ...</i></p>
      </div>

    </div>
  </div>

  <div class="window" id="aboutWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>Who we are</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-user text-info"></span> SWT online community</h3>
        <p>Our goal is connecting past or present participants and exchange of their experiences
          to enhance quality of the program</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-sunglasses text-info"></span> By students for students</h3>
        <p>This platform is made by students for students. Site is inspired by our own experience with SWT program</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-heart-empty text-info"></span> Non-profit </h3>
        <p>We are non-profit organization which means that we use profit for achieving our purpose
          and mission</p>
      </div>
    </div>
  </div>


  <script src="@routes.Assets.at("javascripts/foldToAbbr.js")" type="text/javascript"></script>
  <script>
    setFoldEffect("josko","foldText")
  </script>

}
