@(userForm: Form[SWTUser])

    @main("Login") {

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/login.css")" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" >

        <div class="separate">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Sign up or login</h2>
                    <div class="login-frame">
                        <div class="top-label">
                            Connect with:
                            (<span class="recommended-text">recommended</span>)
                        </div>
                        <div class="oauth-options">
                            <a class="btn btn-block btn-social btn-lg btn-facebook"
                            href="@routes.SWTUserController.fblogin()">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                        </div>
                        <div class="oauth-form">
                            <div class="desc-label text-center">Or use form:</div>
                            <form action="@routes.SWTUserController.login()" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"> <span class="fa fa-user"> </span></div>
                                        <input type="text" class="form-control" name="username" id="username"
                                        placeholder="Username or mail"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"> <span class="fa fa-lock"> </span></div>
                                        <input type="password" class="form-control" name="password" id="password"
                                        placeholder="Password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"> Login </button>
                                <a class="btn btn-primary" href="@routes.SWTUserController.register("")"> Register </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
