@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83493804-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
              dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-83493804-2');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/callbackUtility.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        <script src='https://www.google.com/recaptcha/api.js'></script>

        @*because of footer*@
    <style>
    padding-bottom: 70px;
    </style>
        
    </head>
    <body>

        <div class="container main-container">

        @navigation()

        @if(flash.containsKey("success")) {
        <div class="alert alert-success text-center">@flash.get("success")</div>
        }
        @if(flash.containsKey("info")) {
        <div class="alert alert-info text-center">@flash.get("info")</div>
        }
        @if(flash.containsKey("warning")) {
        <div class="alert alert-warning text-center">@flash.get("warning")</div>
        }
        @if(flash.containsKey("error")) {
        <div class="alert alert-danger text-center">@flash.get("error")</div>
        }

        @content

            <div class="footer-container">
                @footer()
            </div>
        </div>



    </body>
</html>
