@()
@user = @{controllers.SWTUserController.currentUser()}

<div class="navbar navbar-inverse" id="mynavbar">
    <div class="containter">
        @*defines button which appears when device is small*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <!--defines these button which appears on xs devices, icon bar is line on the button-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-md" href="@routes.Public.landing()"> J1Online </a>
            <a class="navbar-brand visible-md" href="@routes.Public.landing()"> J1 </a>
            <div class="navbar-form pull-left" role="search">
                <div class="input-group">
                    <input type="text" id="nav-search-box" class="form-control" placeholder="Workplace search">
                    <div class="input-group-btn">
                        <button id="nav-btn-search" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            @if(controllers.SWTUserController.currentUser() != null) {
                <li><a href="@routes.SWTPlaceController.searchBox()">Rate</a></li>
                <li><a href="@routes.SWTPlaceController.findSearch()">Find</a></li>
            }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(controllers.SWTUserController.currentUser() != null) {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @snippets.profilePicture(user.profilePictureUrl)
                        @user.getIdentity
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.SWTUserController.profile(user.id)">
                            <i class="fa fa-user"></i> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@routes.SWTUserController.placesPanel()">
                            <i class="fa fa-th-list"></i> SWT years</a></li>
                        <li class="divider"></li>
                        <li><a href="@routes.SWTUserController.logout()">
                            <i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            } else {
                <li><a href="@routes.SWTUserController.loginForm()">Login</a></li>
            }
            </ul>
        </div>
    </div>
</div>

    <script>
        let placeSearchLogic = (inputId) => {
            let text = $(`${inputId}`).val();
            $.ajax({url: "/getBaseUrl",
                success: function(result){
                    window.location.href = result + "/search-for?text=" + text;
                }
            });
        };

        let inputId = '#nav-search-box';
        $(inputId).keypress((e) => {
            if (e.which == 13) {
                placeSearchLogic(inputId);
            }
        });
        $('#nav-btn-search').click(() => placeSearchLogic(inputId));
    </script>



