@()

        <nav class="navbar navbar-default">
        <div class="container-fluid">

            <a class="navbar-brand" href="@routes.Watplaces.searchBox()">Watforum</a>
            <ul class="nav navbar-nav navbar-left">
                @if(controllers.Users.currentUser() != null) {
                    <li><a href="@routes.Watplaces.searchBox()">Search</a></li>
                    <li><a href="@routes.Users.profile()">My profile</a></li>
                    @*<li><a href="@routes.Users.listAllUsers()">Registered users</a></li>*@
                    <li><a href="@routes.Ratings.listAll()">Ratings</a></li>
                } else {
                    <li><a href="@routes.Public.loginForm()">Login</a></li>
                    <li><a href="@routes.Public.registerForm()">Register</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(controllers.Users.currentUser() != null) {
                <li><p class="navbar-text"><i>Logged in as: @controllers.Users.currentUser().username</i></p></li>
                <li><a href="@routes.Users.logout()">Logout</a></li>
            }
            </ul>
        </div>
        </nav>



