@()

        <nav class="navbar navbar-default">
        <div class="container-fluid">

            <a class="navbar-brand" href="@routes.Public.loginForm()">Watforum</a>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="@routes.Public.loginForm()">Login</a></li>
                <li><a href="@routes.Public.registerForm()">Register</a></li>
                @if(controllers.Users.currentUser() != null) {
                    <li><a href="@routes.Users.listAllUsers()">Profile</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(controllers.Users.currentUser() != null) {
                <li><p class="navbar-text">@controllers.Users.currentUser()</p></li>
                <li><a href="@routes.Users.logout()">Logout</a></li>
            }
            </ul>

        </div>
        </nav>



