@()

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("../../../public/stylesheets/search.css")">

<div class="window">
  <div class="row">
    <div class="input-group col-md-8 col-md-offset-2">
      <input type="text" id="search-box" class="form-control input-lg"
      placeholder="Search for any employer or housing ..." />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" id="search-btn-box" type="button">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<script>
        let searchBoxId = '#search-box';
        $(searchBoxId).keypress((e) => {
          if (e.which == 13) {
            placeSearchLogic(searchBoxId);
          }
        });
        $('#search-btn-box').click(()=>placeSearchLogic(searchBoxId))
</script>