@import org.pac4j.core.profile.CommonProfile
@(user: SWTUser, noYears: Boolean)
@main("WatUser profile") {

  <script src="@routes.Assets.versioned("autocomplete/jquery.autocomplete.min.js")" type="text/javascript"></script>

  @*validetta*@
    <script src="@routes.Assets.versioned("validetta/validetta.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("validetta/validetta.min.css")">

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/placesPanel.css")"/>

    <div class="row separate">
        <div class="col-md-4 col-md-offset-2">
            <h4 class="wat-title">Add year</h4>
        </div>
    </div>

    @if(noYears) {
        <div class="row separate">
            <div class="col-md-12 col-md-offset-2">
                <div class="current-text">
                    *If you are current participant select year 2018
                </div>
            </div>
        </div>
    }

  <div class="row separate">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
          <div class="form-group marginOnRight">
            <label for="addSponsor" class="marginOnRight">Agency</label>
              <input class="form-control" type="text" id="addSponsor"
              data-validetta="required">
              <span class="validetta-inline validetta-inline--right" id="validetta-hax">
                  This field is required. Please be sure to check.<br>
              </span>
          </div>
          <div class="form-group marginOnRight">
            <label for="addYear" class="marginOnRight">Summer year </label>
              <select id="addYear" class="form-control"
              data-toggle="tooltip" data-placement="top"
              title="Select 2018 if you're current participant"></select>
          </div>
          <div class="form-group">
              <button type="button" id="addButton"
                  class="btn btn-primary">
                Add <span class="fa fa-plus"></span>
              </button>
          </div>
          <input type="hidden" id="sponsorId">
        </form>
    </div>
  </div>


    <div class="row separate">
    <div class="col-md-8 col-md-offset-2">
    <table id="SWTYearTable" class="table table-striped separate"
      @if(user.getSortedYears.isEmpty) { style="display:none" } id="grid">
          <thead>
            <tr>
              <th>Year</th>
              <th>Agency</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          @if(user.getSortedYears != null) {
            @for(swtYear <- user.getSortedYears) {
              <tr data-year-id="@swtYear.id">
                <td>
                @swtYear.year
                </td>
                <td>
                @swtYear.sponsor.toString
                </td>
                <td>
                  <button class="deleteButton deleteAction">
                    Delete <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            }
          }
          </tbody>
        </table>
      <p class="bg-success separate currentParticipantInfo" style="display: none">
        We can see that you are current participant, that's great! You will be able to find and connect to participants
          around you on our platform :)
      </p>
    </div>
    </div>
    <div class="row separate">
        <div class="col-md-offset-2 col-md-8">
            <a type="button" class="btn btn-default" id="done-button" href="@routes.SWTPlaceController.findSearch()">
                <i class="fa fa-check"></i> Done</a>
        </div>
    </div>

    <div class="separate"></div>


  <script src="@routes.Assets.versioned("javascripts/SWTYearSetup.js")" data-userId="@user.id" type="text/javascript"></script>

  <script>
          let autocompleteSponsor;
          $.ajax({
            type: 'GET',
            url: '/all-sponsors',
            headers: {
              'Content-Type': 'application/json'
            },
            success: function (msg, status, jqXHR) {
                let sponsors = msg;
                sponsors = sponsors.map((sponsor) => {
                    return {
                      id:sponsor.id,
                      value: sponsor.fullName===sponsor.shortName || sponsor.shortName === null?
                              sponsor.fullName:`${sponsor.fullName} (${sponsor.shortName})`
                    }
                });
              $('#addSponsor').autocomplete({
                lookup: sponsors,
                lookupLimit: 6,
                onSelect: function (suggestion) {
                  document.getElementById("sponsorId").value = suggestion.id;
                  autocompleteSponsor = {
                      name: suggestion.value,
                      id: suggestion.id
                  }
                }
              });
            }
          });
          $("#addSponsor").on('input',()=>{
              if(autocompleteSponsor) {
                  document.getElementById("sponsorId").value =
                          $("#addSponsor").val() === autocompleteSponsor.name ?
                                  autocompleteSponsor.id : "";
              }
          });

          @if(noYears) {
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
          });
           }

          @*validetta vendor*@
          $("#rate_form").validetta({
              realTime: true,
              display : 'inline',
              errorTemplateClass : 'validetta-inline'
          });
  </script>
}