@import org.pac4j.core.profile.CommonProfile
@(user: SWTUser)
@main("WatUser profile") {

  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/placesPanel.css")"/>

  <div class="window">
  <div class="row separate">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-inline">
          <div class="form-group marginOnRight">
            <label for="addAgency" class="marginOnRight">Agency</label>
              <input class="form-control" type="text" id="addAgency">
          </div>
          <div class="form-group marginOnRight">
            <label for="addYear" class="marginOnRight">Year </label>
              <select id="addYear" class="form-control"></select>
          </div>
          <div class="form-group">
              <button type="button" id="addButton" class="btn btn-success">
                Add <span class="glyphicon glyphicon-plus"></span>
              </button>
          </div>
        </form>
    </div>
  </div>
    <div class="row separate">
    <div class="col-md-6 col-md-offset-3">
    <table id="SWTYearTable" class="table table-striped"
      @if(user.getSortedYears.isEmpty) { style="display:none" } id="grid">
          <thead>
            <tr>
              <th>Year</th>
              <th>Agency</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          @if(user.getSortedYears != null) {
            @for(swtYear <- user.getSortedYears) {
              <tr>
                <td>
                @swtYear.year
                </td>
                <td>
                @swtYear.agency
                </td>
                <td>
                  <button class="deleteButton btn btn-danger">
                    <span class=' glyphicon glyphicon-minus'></span>
                  </button>
                </td>
              </tr>
            }
          }
          </tbody>
        </table>
      <p class="bg-success separate currentParticipantInfo" style="display: none">
        We can see that you are current participant, that's great! You can connect with other current
        participants <a href="@routes.SWTConnectController.connect()">here <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
    </div>
    <div class="row separate">
      <div class="col-md-offset-3 col-md-6">
      <a type="button" class="btn btn-primary" href="@routes.SWTPlaceController.searchBox()">Save</a>
    </div>
    </div>
    @if(!user.getAllRatings.isEmpty) {
      <div class="window separate">
        <h2>Rated places:</h2>
        <div class="row">
          @ratingsList(user.getAllRatings, true)
        </div>
      </div>
    }
  </div>


  <script src="@routes.Assets.at("javascripts/SWTYearSetup.js")" data-userId="@user.id" type="text/javascript"></script>

  <script>
          $("#addForm").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline',
          });
  </script>
}