@import org.pac4j.core.profile.CommonProfile
@(user: SWTUser, noYears: Boolean)
@main("WatUser profile") {

  @*validetta*@
  <script src="@routes.Assets.versioned("autocomplete/jquery.autocomplete.min.js")" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/placesPanel.css")"/>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="wat-title">Places panel</h2>
        </div>
    </div>
  <div class="row separate">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
          <div class="form-group marginOnRight">
            <label for="addSponsor" class="marginOnRight">Agency</label>
              <input class="form-control" type="text" id="addSponsor">
          </div>
          <div class="form-group marginOnRight">
            <label for="addYear" class="marginOnRight">Year </label>
              <select id="addYear" class="form-control"></select>
          </div>
          <div class="form-group">
              <button type="button" id="addButton" class="btn btn-success">
                Add <span class="fa fa-plus"></span>
              </button>
          </div>
          <input type="hidden" id="sponsorId">
        </form>
    </div>
  </div>
    @if(noYears) {
      <div class="row separate">
        <div class="col-md-offset-4 col-md-4">
          <span class="text-muted">If you're current participant select year 2018</span>
        </div>
      </div>
    }
    <div class="row separate">
    <div class="col-md-8 col-md-offset-2">
    <table id="SWTYearTable" class="table table-striped separate"
      @if(user.getSortedYears.isEmpty) { style="display:none" } id="grid">
          <thead>
            <tr>
              <th>Year</th>
              <th>Agency</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          @if(user.getSortedYears != null) {
            @for(swtYear <- user.getSortedYears) {
              <tr data-year-id="@swtYear.id">
                <td>
                @swtYear.year
                </td>
                <td>
                @swtYear.sponsor.toString
                </td>
                <td>
                  <button class="deleteButton btn btn-danger">
                    <span class=' fa fa-minus'></span>
                  </button>
                </td>
              </tr>
            }
          }
          </tbody>
        </table>
      <p class="bg-success separate currentParticipantInfo" style="display: none">
        We can see that you are current participant, that's great! You can connect with other current
        participants <a href="@routes.SWTConnectController.connect()">here <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
    </div>
    <div class="row separate">
      <div class="col-md-offset-2 col-md-8">
      <a type="button" class="btn btn-primary" href="@routes.SWTPlaceController.searchBox()">Save</a>
    </div>
    </div>


  <script src="@routes.Assets.versioned("javascripts/SWTYearSetup.js")" data-userId="@user.id" type="text/javascript"></script>

  <script>
          let autocompleteSponsor;
          $.ajax({
            type: 'GET',
            url: '/all-sponsors',
            headers: {
              'Content-Type': 'application/json'
            },
            success: function (msg, status, jqXHR) {
                let sponsors = msg;
                sponsors = sponsors.map((sponsor) => {
                    return {
                      id:sponsor.id,
                      value: sponsor.fullName===sponsor.shortName?
                              sponsor.fullName:`${sponsor.fullName} (${sponsor.shortName})`
                    }
                });
              $('#addSponsor').autocomplete({
                lookup: sponsors,
                lookupLimit: 6,
                onSelect: function (suggestion) {
                  document.getElementById("sponsorId").value = suggestion.id;
                  autocompleteSponsor = {
                      name: suggestion.value,
                      id: suggestion.id
                  }
                }
              });
            }
          });
          $("#addSponsor").on('input',()=>{
            document.getElementById("sponsorId").value =
                    $("#addSponsor").val() === autocompleteSponsor.name ?
                            autocompleteSponsor.id : "";
          })
  </script>
}