@()

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("../../../public/stylesheets/search.css")">

  <div class="row separate">
    <div class="input-group col-md-6 col-md-offset-3">
      <input type="text" id="search-box" class="form-control input-lg"
      placeholder='Try "Cape Sea Grill Chatham"' />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" id="search-btn-box" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>

<script>
        let searchBoxId = '#search-box';
        $(searchBoxId).keypress((e) => {
          if (e.which == 13) {
            placeSearchLogic(searchBoxId);
          }
        });
        $('#search-btn-box').click(()=>placeSearchLogic(searchBoxId))
</script>