@import org.pac4j.core.profile.CommonProfile
@import helper._
@(user: SWTUser)

@main("WatUser profile") {
    <div class="window">
        <dl class="dl-horizontal">
            <h2><dd>Profile</dd></h2>

            @if(user.username != null) { <dt>Username</dt> <dd>@(user.username)</dd> }
            @if(user.firstName != null) { <dt>Name</dt> <dd>@(user.firstName)</dd> }
            @if(user.password != null) { <dt>Password</dt> <dd>@(user.password)</dd> }
            @if(user.lastName != null) { <dt>Surname</dt> <dd>@(user.lastName)</dd> }
            @if(user.birth != null) { <dt>Birth date</dt> <dd>@(user.birth.format("dd/MM/yyyy"))</dd> }
        </dl>

        <a type="button" class="btn btn-primary" href="@routes.SWTUserController.editProfile()">
            Edit profile
        </a>
    </div>
}