@import org.pac4j.core.profile.CommonProfile
@import helper._
@(user: SWTUser)
@edit = @{user.equals(SWTUserController.currentUser())}


@main("WatUser profile") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/profile.css")" >

    <div class="window">
        <div class="row separate">
            <div class="col-md-offset-1 col-md-2 text-center">
                @snippets.profilePictureBig(user.profilePictureUrl)
                <h2>@user.getIdentity</h2>
            </div>
            <div class="col-md-3">
                <dl class="dl-horizontal">
                    @if(user.username != null) { <dt>Username</dt> <dd>@(user.username)</dd> }
                    @if(!user.anonymous || edit) {
                        @if(user.firstName != null) { <dt>First name</dt> <dd>@(user.firstName)</dd> }
                        @if(user.lastName != null) { <dt>Last name</dt> <dd>@(user.lastName)</dd> }
                        @if(user.email != null) { <dt>Email</dt> <dd>@(user.email)</dd> }
                    }
                    @if(user.country != null) { <dt>Nationality</dt> <dd>@snippets.nationality(user.country)</dd> }
                    @if(user.birth != null) { <dt>Birth date</dt> <dd>@(user.birth.format("dd/MM/yyyy"))</dd> }
                </dl>
                @if(edit) {
                    <a type="button" class="btn btn-primary" href="@routes.SWTUserController.editProfile()">
                        Edit profile
                    </a>
                }
            </div>
            <div class="col-md-5 ">
                <h3>SWT years</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Agency</th>
                            <th>Rated</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(swtYear <- user.swtYears) {
                        <tr class='clickable-row' data-href='@routes.SWTYearController.swtYear(swtYear.id)'>
                            <td>@swtYear.year</td>
                            <td>@swtYear.sponsor.toString</td>
                            <td>
                            @if(edit && swtYear.ratings.size()==0 && swtYear.year!=2018) {
                                <a class="empty_year" href="@routes.SWTPlaceController.searchBox()">
                                    <span data-toggle="tooltip" title="Rate some places for this year!">
                                        @swtYear.ratings.size() <i class="fa fa-map-marker"></i>
                                    </span>
                                </a>
                            } else {
                            @swtYear.ratings.size() <i class="fa fa-map-marker"></i>
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                @if(edit) {
                    <a type="button" class="btn btn-primary" href="@routes.SWTUserController.placesPanel()">
                        Edit years
                    </a>
                }
            </div>
        </div>
    </div>


    <script>
            @*activate all tooltips*@
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });

            @* make row clickable *@
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
    </script>
}