@(place: SWTPlace, gplace: SWTGooglePlace, years: List[SWTYear])

@main(gplace.name + " rating") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/rating.css")">

  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">


  <div class="window">
    <div class="row">
      <div class="col-md-offset-3 col-md-5">
        <h2>Rating @gplace.name</h2>
        <form action="@routes.SWTRatingController.rate(place.googleId)" method="post" id="rate_form" class="separate">
          <div class="form-group">
            <label for="starsRating">Rating</label>
            <div id="starsRating"></div>
            <input type="hidden" name="rating" id="rating" data-validetta="required">
          </div>

          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" name="position" id="position" data-validetta="required">
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea type="text" class="form-control" name="comment"
            id="comment" data-validetta="required,minLength[50],maxLength[800]"></textarea>
          </div>

          <div class="form-group">
            <label for="workload">Workload</label>
            <div class="input-group spinner spinDollars">
              <span class="input-group-addon left-addon">
                <i class="fa fa-clock-o"></i>
              </span>
              <input type="text" class="form-control" name="workload"
                id="workload" value="30" data-validetta="required,number">
              <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="payment">Payment</label>
            <div class="input-group spinner spinHours">
              <span class="input-group-addon left-addon">
                <i class="fa fa-usd"></i>
              </span>
              <input type="text" class="form-control" name="payment"
                id="payment" value="10" data-validetta="required,number">
              <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label><input name="providingHousing" type="checkbox" value="false">Providing housing</label>
          </div>
          <div class="form-group">
            <label for="swtYear">SWT Year</label>
            <select class="form-control" id="swtYear" name="swtYear">
              @for(year <- years) {
                <option value="@year.year">@year.toString</option>
              }
            </select>
          </div>
          <button type="submit">Rate</button>
        </form>
      </div>
    </div>
  </div>

  @*for star rating*@
  <script src="@routes.Assets.at("javascripts/starRating.js")" type="text/javascript"></script>
  <script>
          var el = document.querySelector('#starsRating');
          var currentRating = 0;
          var maxRating = 5;
          var callback = function (rating) {
            document.getElementById("rating").value = rating;
          };
          var myRating = rating(el, currentRating, maxRating, callback);
  </script>

  <script>
          $("#rate_form").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline'
          });
  </script>

  <script src="@routes.Assets.at("javascripts/spinner.js")" type="text/javascript"></script>

  })