@(place: SWTPlace, gplace: SWTGooglePlace, years: List[SWTYear], rating: SWTRating, previousUrl: String)
@edit = @{rating!=null}
@main(gplace.name + " rating") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/rating.css")">

  @*validetta*@
  <script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">


  <div class="window">
    <div class="row">
      <div class="col-md-offset-3 col-md-5">
        <h2>Rating @gplace.name</h2>
        <form action="@routes.SWTRatingController.rate(place.googleId)" method="post" id="rate_form" class="separate">
          <input type="hidden" name="previousUrl" value="@previousUrl">
          @if(edit){
            <input type="hidden" name="existingRatingId" value="@rating.id">
          }
          <div class="form-group">
            <label for="swtYear">
              SWT Year
              @snippets.questionTooltip("Showing only years that haven't been used for rating this place")
            </label>
            <select class="form-control" id="swtYear" name="swtYear">
            @for(year <- years) {
              <option
                @if(rating!=null) {
                  @if(rating.swtYear.equals(year)) {selected="selected"}
                }
              value="@year.year">@year.toString
              </option>
            }
            </select>
          </div>
          <div class="form-group">
            <label for="starsRating">Rating</label>
            <div id="starsRating"></div>
            <input type="hidden" name="rating" id="rating" data-validetta="required"
              @if(edit){value="@rating.rating"}>
          </div>

          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" name="position" id="position" data-validetta="required"
              @if(edit){value="@rating.workPosition"}>
          </div>

          <div class="checkbox">
            <label><input name="providingMeal" type="checkbox"
              @if(edit){ @if(rating.providingMeal){checked}}>
              Provided meal
              @snippets.questionTooltip("Check if employer provided you meal during working shift")
            </label>
          </div>

          <div class="checkbox">
            <label><input name="providingHousing" type="checkbox"
              @if(edit){ @if(rating.providingHousing){checked}}>
              Provided housing
              @snippets.questionTooltip("Check if the employer provided you housing during employment")
            </label>
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea type="text" class="form-control" name="comment" rows="4"
              placeholder="Write about general experience..."
            id="comment" data-validetta="required,minLength[30],maxLength[500]">@if(edit){@rating.comment}</textarea>
          </div>

          <div class="form-group">
            <label for="payment">Salary</label>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group spinner spinHours">
                  <span class="input-group-addon left-addon">
                    <i class="fa fa-usd"></i>
                  </span>
                  <input type="text" class="form-control" name="payment"
                  id="payment"
                    @if(edit){value="@rating.payment" }else{value="10"}>
                  <div class="input-group-btn-vertical">
                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <i class="text-muted">Avg. per week (tips included)</i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="workload">Workload</label>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group spinner spinDollars">
                  <span class="input-group-addon left-addon">
                    <i class="fa fa-clock-o"></i>
                  </span>
                  <input type="text" class="form-control" name="workload"
                  id="workload" data-validetta="required"
                    @if(edit){value="@rating.workLoad" }else{value="30"}>
                  <div class="input-group-btn-vertical">
                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <i class="text-muted">Avg. working hours per week</i>
              </div>
            </div>

          </div>
          <button class="btn btn-primary" name="action" type="submit" value="save">Save</button>
          @if(edit) {
              <button class="btn btn-danger" name="action" type="submit" value="delete">Delete</button>
          }
          <a type="button" class="btn btn-default"  href="@request.getHeader("referer")">Cancel</a>
        </form>
      </div>
    </div>
  </div>

  @*for star rating*@
  <script src="@routes.Assets.at("javascripts/starRating.js")" type="text/javascript"></script>
  <script>
          var el = document.querySelector('#starsRating');
          var currentRating = 0;
          @if(edit){
            currentRating= @rating.rating;
          }
          var maxRating = 5;
          var callback = function (rating) {
            document.getElementById("rating").value = rating;
          };
          var myRating = rating(el, currentRating, maxRating, callback);
  </script>

  @*activate all tooltips*@
  <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
  </script>

  @*validetta vendor*@
  <script>
          $("#rate_form").validetta({
            realTime: true,
            display : 'inline',
            errorTemplateClass : 'validetta-inline'
          });
  </script>

  @*allow only numbers & max 3 of them in workload and payment (because of buggy validetta error)*@
  <script>
    function setOnlyNumbersToForm(field) {
      $(document).ready(function() {
        $(field).keydown(function (e) {
            if(this.value.length>2){
                e.preventDefault();
                return;
            }
          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                  (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                  (e.keyCode >= 35 && e.keyCode <= 40)) {
            return;
          }
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
          }
        });
      });
    }
    setOnlyNumbersToForm("#workload");
    setOnlyNumbersToForm("#payment");
  </script>

  <script src="@routes.Assets.at("javascripts/spinner.js")" type="text/javascript"></script>

  })