@(ratings: Set[SWTRating])
    @()

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ratingCard.css")"/>

    <ul class="list-group">
    @for(rating <- ratings) {
        <li class="list-group-item">
            <div class="row cardInfoHeader">
                    @rating.swtYear.user.getName
                    <img src="@rating.swtYear.user.profilePictureUrl" class="profile-image">
                <span class="cardInfoItem">@reviewStars(rating.rating)</span>
                @*<span class="cardInfoItem">@rating.getUpdatedAtPretty()</span>*@
            </div>
            <div class="row ratingComment">
            @rating.comment
            </div>
            <div class="row text-muted cardAdditionalInfo">
                @rating.workPosition
                <span class="leftMargin" data-toggle="tooltip" title="dollars per hour">
            <i class="fa fa-dollar"></i>
                    @rating.payment
                </span>
                <span class="leftMargin" data-toggle="tooltip" title="hours per week">
                    <i class="fa fa-clock-o"></i>
                        @rating.workLoad
                </span>
            </div>
            <div class="row text-muted cardAdditionalInfo">
                    @rating.swtYear.year (@rating.swtYear.agency)
            </div>
        </li>
    }
    </ul>

    @*activate all tooltips*@
    <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>

