@(ratings: List[Rating])
@main("All ratings") {

  <h1>Latest ratings:</h1>

  <table class="table table-bordered">
    <thead>
      <tr><th>User</th><th>Place</th><th>rating</th><th>created</th></tr>
    </thead>
    <tbody>
    @for(rating <- ratings) {
      <tr>
        <td>
        @rating.user.username
        </td>
        <td>
          <a href="@routes.Watplaces.watPlace(rating.watPlace.googleID+"")"> @rating.watPlace.name</a>
        </td>
        <td>
        @rating.rating
        </td>
        <td>
        @rating.getRatedAt
        </td>
      </tr>
    }
    </tbody>
  </table>
}