@(ratings: Set[SWTRating], showPlaceName: Boolean)
    @()

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ratingCard.css")"/>

    <ul class="list-group">
    @for(rating <- ratings) {
        <li class="list-group-item">
            <div class="row cardInfoHeader">
                    @rating.swtYear.user.getName
                    @snippets.profilePicture(rating.swtYear.user.profilePictureUrl)
                <span class="cardInfoItem">@reviewStars(rating.rating)</span>
                <span class="pull-right">
                    @if(SWTUserController.currentUser() != null &&
                            SWTUserController.currentUser().id.equals(rating.swtYear.user.id)) {
                        <a class="ratingAction"
                        href="@routes.SWTRatingController.ratingForm(rating.swtPlace.googleId,rating.id+"")">
                            <i class="fa fa-pencil"></i> Edit</a>
                    }
                </span>
            </div>
            <div class="row ratingComment">
            @rating.comment
            </div>
            @if(showPlaceName) {
                <div class="row text-muted cardAdditionalInfo">
                    <a href="@routes.SWTPlaceController.place(rating.swtPlace.googleId)">
                        @rating.swtPlace.getGooglePlace().name
                    </a>
                </div>
            }
            <div class="row text-muted cardAdditionalInfo">
                @rating.workPosition
                <span class="leftMargin" data-toggle="tooltip" title="dollars per hour">
            <i class="fa fa-dollar"></i>
                    @rating.payment
                </span>
                <span class="leftMargin" data-toggle="tooltip" title="hours per week">
                    <i class="fa fa-clock-o"></i>
                        @rating.workLoad
                </span>
            <span class="pull-right">
                (@rating.swtYear.agency) @rating.swtYear.year
            </span>
            </div>
        </li>
    }
    </ul>

    @*activate all tooltips*@
    <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>

