@(ratings: List[Rating])
@main("All ratings") {

  <h2>Latest ratings:</h2>

  <table class="table table-bordered">
    <thead>
      <tr><th>WatUser</th><th>Place</th><th>rated</th><th>created</th></tr>
    </thead>
    <tbody>
    @for(rating <- ratings) {
      <tr>
        <td>
        @rating.user.username
        </td>
        <td>
          <a href="@routes.Watplaces.watPlace(rating.watPlace.googleID+"")"> @rating.watPlace.name</a>
        </td>
        <td>
        @starRating(rating.rating)
        </td>
        <td>
        @rating.getRatedAt
        </td>
      </tr>
    }
    </tbody>
  </table>
}