@main("Password recovery") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/recovery.css")">

  <div class="row">
    <div class="col-md-8 col-md-offset-2 reading-text">
      <h2 class="wat-title">Password recovery</h2>
    </div>
  </div>
  <div class="row separate">
    <div class="col-md-offset-4 col-md-4 text-center">
      <div class="reading-text">Enter email to reset your password</div>
    </div>
    <div class="col-md-offset-4 col-md-4 text-center">
      <form action="@routes.Public.sendRecovery()" method="post">
        <div class="form-group">
          <input class="form-control text-center small-separate" name="email">
          <button class="btn btn-info small-separate">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="separate"></div>

}