@(userForm: Form[User])
@import helper._

@main("Student form") {
  <h1>Register</h1>
  @helper.form(action=routes.Public.register()) {
    <fieldset>
      <input type="hidden" value="@userForm("id").valueOr("")" name="id" />
      @helper.inputText(userForm("username"),'_label -> "Username", '_showConstraints -> false, '_showErrors -> false)
      @helper.inputPassword(userForm("password"),'_label -> "Password", '_showConstraints -> false, '_showErrors -> false)
      @helper.inputText(userForm("country"),'_label -> "Country", '_showConstraints -> false, '_showErrors -> false)
    </fieldset>
    <button type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-ok"></i> Save
    </button>
    <a class="btn btn-primary" href="@routes.Users.listAllUsers()"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
  }
}