@main("Watplaces") {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/search.css")">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="@routes.Assets.at("javascripts/googlePlaces.js")" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOVsLLDx5MQmY4CUaD9-kt5Dqw5tPjJV4&libraries=places&callback=initAutocomplete"
  async defer></script>


  <div class="container" >
    <h1 id="searchTitle" class="text-center">Work. Travel. Experience.</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <input class="center-block" id="pac-input" type="text" placeholder="Employer, housing or agency ..." autofocus>
      </div>
    </div>
  </div>

}
