@(places: List[SWTGooglePlace])
@main("Places") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/places.css")">

    <div class="window">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Search:</h2>
                <div class="col-md-8 places-table">
                    <table class="table table-hover">
                        <thead>
                            <tr><th>Name</th><th>Address</th></tr>
                        </thead>
                        <tbody>
                        @for(place <- places) {
                            <tr class='clickable-row' data-href='@routes.SWTPlaceController.place(place.googleID)'>
                                <td>
                                @place.name
                                </td>
                                <td>
                                @place.address
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
            jQuery(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.location = $(this).data("href");
                });
            });
    </script>

}