@(userId: Long, swtYears: List[SWTYear])
    @*validetta*@
<script src="@routes.Assets.at("validetta/validetta.min.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("validetta/validetta.min.css")">



<div class="row">
<table id="SWTYearTable" class="table text-center" id="grid">
    <thead>
        <tr>
            <th>Year</th>
            <th>Agency</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <form id="addForm">
        <tr class="active">
            <td>
                <select id="addYear" class="form-control"></select>
            </td>
            <td>
                <input type="text" id="addAgency" class="form-control"/>
            </td>
            <td>
                <button type="button" id="addButton" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        </form>
        @if(swtYears != null) {
            @for(swtYear <- swtYears) {
                <tr>
                    <td>
                    @swtYear.year
                    </td>
                    <td>
                    @swtYear.agency
                    </td>
                    <td>
                        <button class="deleteButton btn btn-danger">
                            <span class=' glyphicon glyphicon-minus'></span>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script src="@routes.Assets.at("javascripts/SWTYearSetup.js")"
data-userId="@userId" type="text/javascript"></script>
</div>

<script>
          $("#addForm").validetta({
              realTime: true,
              display : 'inline',
              errorTemplateClass : 'validetta-inline',
          });
  </script>