@(year: SWTYear)
@import helper._

@main(year.sponsor.toString + " year") {

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/swtYear.css")">

    <div class="row">
      <div class="col-md-offset-1 col-md-6">
      <h2 class="wat-title">WAT year</h2>
        <dl class="separate">
          <dt>User</dt>
          <dd><a href="@routes.SWTUserController.profile(year.user.id)">@year.user.getIdentity</a></dd>
          <dt>Year</dt><dd>@year.year</dd>
          <dt>Num of places </dt><dd>@year.ratings.size() <i class="fa fa-map-marker"></i></dd>
          <dt>Agency</dt><dd>@year.sponsor.toString</dd>
        </dl>
      </div>
    </div>
  <div class="row separate">
    <div class="col-md-10 col-md-offset-1">
      @if(year.ratings.size() == 0) {
        <span class="text-muted">Nothing rated yet</span>
      }
      @ratingsList(year.ratings,true)
    </div>
  </div>
}