@main("Terms of service") {
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="wat-title">Terms of Service</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 separate reading-text">
        <p>
            By accessing and using Pointer.com (ili our/this website ), you accept and agree to be bound by the terms and provision of this agreement. In addition, when using this websites particular services, you  shall be subject to any posted guidelines or rules applicable to such services, which may be posted and modified from time to time. All such guidelines or rules are hereby incorporated by reference into the TOS.
        </p>
        <p class="separate">
            ANY PARTICIPATION IN THIS SITE WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ABIDE BY THE ABOVE, PLEASE DO NOT USE THIS SITE.
        </p>
        <ul class="separate">
            <li>
                This site and its components are offered for informational purposes only. We are not responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.
            </li>
            <li>
                Tips and ratings available are all submitted by other users. If you decide to follow advice found on our website, you do so in your own responsibility.
            </li>
            <li>
                If you think someone’s intellectual property rights have been infringed upon, please feel free to contact us whether you are the owner of the copyright or a third-party. In case of copyright infringement please contact us on: teotoplak95@@gmail.com
            </li>
            <li>
                Private information you provide on our website will be protected and used. We follow all the guidelines that the law demands.
            </li>
            <li>
                Any health issues you experience while viewing components of the website are unfortunate, but we are including a disclaimer for any liability resulting in the use of our website.
            </li>
        </ul>
      </div>
    </div>

}