@(watplace: WatPlace)(rating: Integer)(overAllRating: Integer)
@import helper._

@main("watplace") {

  <script src="@routes.Assets.at("javascripts/stars.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("stylesheets/watplace.css")" rel="stylesheet" media="screen">

  <dl class="dl-horizontal">
    <dd><h2>@watplace.name <img src="@watplace.icon" alt="" height="28" width="28"></h2></dd>
    @if(watplace.address != null) { <dt>Address</dt> <dd>@watplace.address</dd> }
    @if(watplace.phoneNumber != null) { <dt>Phone</dt> <dd>@watplace.phoneNumber</dd> }
    @if(watplace.website != null) { <dt>Website</dt> <dd><a href="@watplace.website">@watplace.website</a> </dd> }
    @if(watplace.googleMaps != null) { <dt>Google maps</dt> <dd><a href="@watplace.googleMaps">@watplace.googleMaps</a></dd> }
    <dt>Place rating</dt>
    <dd>
      @if(overAllRating == -1) {
        (not rated)
      } else {
        <div id="ratingAvg">
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
        </div>
      }
    </dd>
    <dt>Your rating</dt>
    <dd>   <div id="rating">
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
    </div></dd>
  </dl>

  <form action="/rate" method="POST" >
    <fieldset>
      <input type="hidden" value=@controllers.Users.currentUser().id name="user_id" />
      <input type="hidden" value=@watplace.id name="watPlace_id" />
      <input type="hidden" name="ratingInput" id="ratingInput"/>
    </fieldset>
    @if(rating == -1) {
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-ok"></i> Rate
      </button>
    }
  </form>

  <script> StarRatingAvg.init( @overAllRating )</script>
  <script> StarRating.init( @rating )</script>





}