@(watplace: WatPlace )
@import helper._

@main("watplace") {

  <script src="@routes.Assets.at("javascripts/stars.js")" type="text/javascript"></script>
  <link href="@routes.Assets.at("stylesheets/watplace.css")" rel="stylesheet" media="screen">

  <dl class="dl-horizontal">
    <dd><h2>@watplace.name</h2></dd>
    <dt>Address</dt> <dd>@watplace.address</dd>
    <dt>Phone</dt> <dd>@watplace.phoneNumber</dd>
  </dl>

  <div id="rating">
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
  </div>

  <script> StarRating.init( -1 )</script>

}